body {
	background: url(/images/background-01.jpg);
	background-size: 1400px 800px;
	background-repeat: no-repeat;
	background-position: 0 -100px;
	z-index: 1;
}

.title {
	font-family: "nimbus-sans",sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 48px;
	text-align: center;
	letter-spacing: 1.75px;
	color: white;
	-webkit-font-smoothing: antialiased;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	left: 15%;
	position: absolute;
}

.synopsis {
	font-family: "proxima-nova-soft",sans-serif;
   	font-weight: 500;
	font-size: 18px;
	line-height: 0;
	text-align: center;
	letter-spacing: 2.5px;
	color: white;
	-webkit-font-smoothing: antialiased;
	left: 15%;
	top: 2.75em;
	position: absolute;
}

.text-background {
	background-color: rgba(0,0,0,0.75);
	width: 100%;
	top: 15em;
	left: 0;
	position: absolute;
	height: 85px;
}
