* {
	padding: 0;
	margin: 0;
}

body {
	background-size: 100%;
	color: white;
}

/* HEADER */

#header {
	top: 0px;
	left: 0px;
	height: 70px;
	width: 100%;
	z-index: 0;
	position: fixed;
	background-color: black;
}

/* BODY */

#body {
	top: 70px;
	left: 0px;
	width: 100%;
	background: linear-gradient(
      rgba(0, 0, 0, 0.20), 
      rgba(0, 0, 0, 0.20)
    ),
	url('/images/background1.jpg');
	background-size: 100%;
	background-repeat: none;
	background-position: 0px -250px;
	height: 479px;
	position: fixed;
}

/* LOGO */

#logo {
	height: 30px;
	width: 30px;
	top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#logodiv {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	top: 100px;
}

/* TEXT */

#title {
	color: white;
	text-align: center;
	top: 209.5px;
	position: relative;
	text-shadow: 1px 1px 1px #000, 
               3px 3px 5px black; 
    z-index: 1;
  	font-family: "proxima-nova-soft";
  	font-weight: 400;
}

#post {
	height: 40px;
	width: 105px;
	background-color: #A9CC4A;
	border-bottom-style: solid;
	border-bottom-width: 3.6px;
	border-bottom-color: #96B249;
	margin: 26px 42px;
	display: inline-block;
	border-top: none;
	border-left: none;
	border-right: none;
	color: white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 15.3px;
   display: inline-block;
}

/* LOGIN FORM */

#logo {
	height: 30px;
	width: 30px;
	top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#logodiv {
	width: 100%;
	top: 100px;
}

#showjeets {
	height: 30px;
	width: 275px;
	display: block;
	background-color: black;
	z-index: 10;
	text-align: center;
	position: relative;
	border-bottom-style: solid;
	border-bottom-width: 3.6px;
	border-bottom-color: #A9CC4A;
	  	font-family: "proxima-nova-soft";
	  	font-weight: 200;
	left: 40%;
}

#showjeetsdiv {
	width: 100%;
	height: 30px;
	position: fixed;
	top: 350px;
}

#button {
	height: 30px;
	width: 105px;
	background-color: #A9CC4A;
	border-bottom-style: solid;
	border-bottom-width: 3.6px;
	border-bottom-color: #96B249;
	border-top: none;
	border-left: none;
	border-right: none;
	color: white;
	font-family: "proxima-nova-soft";   	
	font-weight: 300;
   	font-size: 15.3px;
    border-radius: 4;
    z-index: 10;
    display: inline-block;
    position: absolute;
    right: 145px;
    top: 20px;
}

#password {
	visibility: hidden;
	height: 30px;
	text-indent: 10;
	width: 290px;
	background-color: white;
	font-size: 15.3px;
	border-width: 1px;
	border-style: none;
	text-align: left;
	margin-bottom: 30px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 100;
   font-size: 15.3px;
   border-radius: 4;
   z-index: 10;
   position: absolute;
   left: 55px;
   top: 66px;
}

#email {
	visibility: hidden;
	height: 30px;
	text-indent: 10;
	margin-bottom: 10px;
	border-radius: 4;
	z-index: 10;
	width: 290px;
	background-color: white;
	font-size: 15.3px;
	border-style: none;
	text-align: left;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 100;
   font-size: 15.3px;
         position: absolute;
   left: 55px;
   top: 33px;
}

.login {
	position: absolute;
	height: 200px;
	width: 400px;
	margin: -100px 0 0 -200px;
	top: 50%;
	left: 50%;
	z-index: 0;
	border-radius: 20;
	background-color: rgba(0, 0, 0, 0.4);
}

#signout {
	height: 30px;
	width: 105px;
	background-color: #A9CC4A;
	border-bottom-style: solid;
	border-bottom-width: 3.6px;
	border-bottom-color: #96B249;
	border-top: none;
	border-left: none;
	border-right: none;
	color: white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	font-size: 15.3px;
    border-radius: 4;
    z-index: 10;
    display: inline-block;
}

#signup
{
	position: fixed;
	right: 20px;
	top: 20px;
	height: 30px;
	width: 105px;
	background-color: #75A9FF;
	border-bottom-style: solid;
	border-bottom-width: 3.6px;
	border-bottom-color: #3B557F;
	border-top: none;
	border-left: none;
	border-right: none;
	color: white;
	font-family: "proxima-nova-soft";
	font-weight: 300;
   	font-size: 15.3px;
    border-radius: 4;
    z-index: 10;
    display: inline-block;
}

#signup:hover {
	background-color: #6998E5;
}

#button:hover {
	background-color: #96B249
}
