* {
	padding: 0;
	margin: 0;
}

body {
	background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
	url('/images/background.jpg');
	background-size: 100%;
	color: white;
}

#title {
	color: white;
}

#cheeps {

}

/* LOGO */

#logo {
	height: 105px;
	width: 105px;
	margin: 26px 42px;
	position: absolute;
	left: 42%;
}

/* TEXT */

#title {
	visibility: hidden;
}

#caption {
	visibility: hidden;
}

#post {
	height: 40px;
	width: 105px;
	background-color: #A9CC4A;
	border-bottom-style: solid;
	border-bottom-width: 3.6px;
	border-bottom-color: #96B249;
	margin: 26px 42px;
	display: inline-block;
	border-top: none;
	border-left: none;
	border-right: none;
	color: white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 15.3px;
   display: inline-block;
}

/* LOGIN FORM */

#button {
	height: 30px;
	width: 105px;
	background-color: #A9CC4A;
	border-bottom-style: solid;
	border-bottom-width: 3.6px;
	border-bottom-color: #96B249;
	border-top: none;
	border-left: none;
	border-right: none;
	color: white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	font-size: 15.3px;
    border-radius: 4;
    z-index: 10;
    display: inline-block;
    position: absolute;
    left: 147.5px;
    top: 99.9px;
}

#password {
	height: 30px;
	text-indent: 10;
	width: 290px;
	background-color: white;
	font-size: 15.3px;
	border-width: 1px;
	border-style: none;
	text-align: left;
		margin-bottom: 30px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 100;
   font-size: 15.3px;
   border-radius: 4;
   z-index: 10;
   position: absolute;
   left: 55px;
   top: 66px;
}

#email {
	height: 30px;
	text-indent: 10;
	margin-bottom: 10px;
	border-radius: 4;
	z-index: 10;
	width: 290px;
	background-color: white;
	font-size: 15.3px;
		border-style: none;
	text-align: left;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 100;
   font-size: 15.3px;
         position: absolute;
   left: 55px;
   top: 33px;
}

.login {
	position: absolute;
	height: 200px;
	width: 400px;
	margin: -100px 0 0 -200px;
	top: 50%;
	left: 50%;
	z-index: 0;
	border-radius: 20;
	background-color: rgba(0, 0, 0, 0.4);
}

#signout {
	height: 30px;
	width: 105px;
	background-color: #A9CC4A;
	border-bottom-style: solid;
	border-bottom-width: 3.6px;
	border-bottom-color: #96B249;
	border-top: none;
	border-left: none;
	border-right: none;
	color: white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	font-size: 15.3px;
    border-radius: 4;
    z-index: 10;
    display: inline-block;
}

#signup
{
	position: fixed;
	right: 20px;
	top: 60px;
	height: 30px;
	width: 105px;
	background-color: #75A9FF;
	border-bottom-style: solid;
	border-bottom-width: 3.6px;
	border-bottom-color: #3B557F;
	border-top: none;
	border-left: none;
	border-right: none;
	color: white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	font-size: 15.3px;
    border-radius: 4;
    z-index: 10;
    display: inline-block;
}
