* {
	padding: 0;
	margin: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

}

body {
	background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
	url('/images/background.jpg');
	background-size: 100%;
	color: white;
}

#title {
	color: white;
}

#logo {
	height: 105px;
	width: 105px;
	margin: 26px 42px;
	display: inline-block;
	float:left;
}

.footer {
	position: fixed;
	bottom: 24px;
	left: 48px;
	background-color: salmon;
	max-width: 940px;
	height: 30px;
}

#caption {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 400;
	color: white;

}

#button {
	height: 40px;
	width: 105px;
	background-color: #A9CC4A;
	border-bottom-style: solid;
	border-bottom-width: 3.6px;
	border-bottom-color: #96B249;
	margin: 26px 42px;
	display: inline-block;
	border-top: none;
	border-left: none;
	border-right: none;
	color: white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 15.3px;
   display: inline-block;
}

#post {
	height: 40px;
	width: 105px;
	background-color: #A9CC4A;
	border-bottom-style: solid;
	border-bottom-width: 3.6px;
	border-bottom-color: #96B249;
	margin: 26px 42px;
	display: inline-block;
	border-top: none;
	border-left: none;
	border-right: none;
	color: white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 15.3px;
   display: inline-block;
}

#password {
	height: 42.6px;
	width: 169px;
	background-color: white;
	font-size: 15.3px;
	border-width: 1px;
	border-color: gray;
	text-align: center;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 100;
   font-size: 15.3px;
   display: inline-block;
}

#email {
	height: 42.6px;
	width: 274px;
	background-color: white;
	font-size: 15.3px;
	border-width: 1px;
	border-color: gray;
	text-align: center;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 100;
   font-size: 15.3px;
   display: inline-block;
}