<h1>Please sign up</h1>

<form action="/users" method="post">
	First Name: <input type="text" name="first_name"><br>
	Second Name: <input type="text" name="second_name"><br>
	Username: <input type="text" name="username"><br>
	Email: <input name="email" type="text" value="<%= @user.email %>"><br>
	Password: <input name="password" type="password"><br>
	And again: <input name="password_confirmation" type="password"><br>
	<input type="submit" value="Sign up">
</form>