<head>

	<link rel="stylesheet" type="text/css" href="/css/index.css">

</head>
<body>

<main>


<section class="text-background">
	<h1 class="title">Live, Life, Coffee.</h1>
	<h3 class="synopsis">Honest coffeeshop tweets, from the connoisseurs</h3>
</section>

</main>

</body>