<head>

</head>
<body>

<main>

<h1 id="title">Welcome to Jitter</h1>
<h3 id="synopsis">The most honest coffee reviews you'll find anywhere, guaranteed.<br> Find reviews of hundreds of coffee shops.</h3>

<section id="body">
</section>

<!-- <div id="new-cheep">
	<% if current_user %>
	<form action="/cheeps" method="post">
		Cheep: <input type="text" name="message">
		<input id="post" type="submit" value="Add cheep">
	</form>
</div>
<% end %> -->

</body>