<!-- <div id="button">
	</div> -->
<head>

</head>
<body>

<section id="header">
</section>

<section id="logodiv">
<img id="logo"src="/images/logo2-01.png" alt="logo">
</section>

<h1 id="title">Welcome to Jitter</h1>

<section id="body">
</section>

<ul id="cheeps">
Current cheeps
	<% @cheeps.each do |cheep| %>
	<li><%= cheep.message %><%= cheep.username %></li>
	<% end %>
</ul>

<div id="new-cheep">
	<% if current_user %>
	<form action="/cheeps" method="post">
		Cheep: <input type="text" name="message">
		<input id="post" type="submit" value="Add cheep">
	</form>
</div>
<% end %>

<form method="post" action="/sessions">
	<input id="email" type="text" name='email' placeholder="Email"><br>
	<input id="password" type="password" name="password" placeholder="Password"><br>
	<input id="button" type="submit" value="Sign in">
</form>

<form action="/users/new">
<input id="signup" type="submit" value="Sign up">
</form>

</body>