<head>

	<link rel="stylesheet" type="text/css" href="/css/index.css">

</head>
<body>

<main>


<section id="body">
	<h1 class="title">Live, Life, Coffee.</h1>
		<h3 class="synopsis">Honest coffeeshop tweets, from the connoisseurs</h3>
</section>

<section class="btm-wrap">

</section>

<!-- <div id="new-cheep">
	<% if current_user %>
	<form action="/cheeps" method="post">
		Cheep: <input type="text" name="message">
		<input id="post" type="submit" value="Add cheep">
	</form>
</div>
<% end %> -->

</main>

</body>