<!-- <div id="button">
	</div> -->

<h1>Welcome to Jitter</h1>

Current cheeps
<ul>
	<% @cheeps.each do |cheep| %>
	<li><%= cheep.message %><%= cheep.username %></li>
	<% end %>
</ul>

<div id="new-cheep">
	<form action="/cheeps" method="post">
		Cheep: <input type="text" name="message">
		<input id="post" type="submit" value="Add cheep">
	</form>
</div>


<form method="post" action="/sessions">
	<input id="email" type="text" name='email'>
	<input id="password" type="password" name="password" placeholder="Password">
	<input id="button" type="submit" value="Sign in">
</form>

<section class="footer">
	</section>