<html>
<head>
	<script src="//use.typekit.net/iec4rac.js"></script>
<script src="//use.typekit.net/iec4rac.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

	<link rel="shortcut icon" href="/images/logo-01.ico">
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<!-- Bootstrap -->
<!-- 	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/bootstrap-responsive.css"> -->

</head>

<body>

	<section id="column">
	</section>

	<% if current_user %>
	Welcome, <%= current_user.email %>
	<form method="post" action="/sessions">
		<input type="hidden" name="_method" value="delete">
		<input id="signout" type="submit" value="Sign out">
	</form>
	<% end %>

	<% if flash[:errors] && !flash[:errors].empty? %>
	Sorry, there were the following problems with the form
	<ul id="errors">
		<% flash[:errors].each do |error| %>
		<li><%= error %></li>
		<% end %>
	</ul>
	<% end %>

	<% if flash[:notice] %>
		<div id="notice">
			<%= flash[:notice] %>
		</div>
	<% end %>

	<%= yield %>

	<!-- Bootstrap jQuery Plugin, compiled and minified -->
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>