<html>
<head>
	<title>Jitter</title>

	<link rel="shortcut icon" href="/images/logo-01.ico">

	<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>

	<section>
		 <img id="logo"src="/images/logo-01.png" alt="logo">

	</section>

	<section id="column">
	</section>

	<% if current_user %>
	Welcome, <%= current_user.email %>
	<form method="post" action="/sessions">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Sign out">
	</form>
	<% end %>

	<% if flash[:errors] && !flash[:errors].empty? %>
	Sorry, there were the following problems with the form
	<ul id="errors">
		<% flash[:errors].each do |error| %>
		<li><%= error %></li>
		<% end %>
	</ul>
	<% end %>

	<% if flash[:notice] %>
		<div id="notice">
			<%= flash[:notice] %>
		</div>
	<% end %>

	<%= yield %>
</body>
</html>