<!-- Use jQuery to create a modal for this later -->
<div id="new-cheep">
	<% if current_user %>
	<form action="/cheeps" method="post">
		Cheep: <input type="text" name="message">
		<input id="post" type="submit" value="Add cheep">
	</form>
</div>
<% end %>

<ul id="cheeps">
Current cheeps
	<% @cheeps.each do |cheep| %>
	<li><%= cheep.message %><br>
		<%= cheep.email %><br>
		<%= cheep.favourites %>
		<!-- Make this work properly -->
		<% if cheep.email != current_user %> 
		<a href="/favourite/<%= cheep.id %>">Favourite</a>
		<% end %>
		<!-- Make this work properly -->
		<% if cheep.email == current_user %>
		<a href="#">Delete Cheep</a>
		<% end %>
	</li>
	<% end %>
</ul>
